.card-container h4 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 100%;
  font-size: 24px;
}
.card-container p {
  text-align: center;
  color: rgb(192, 182, 182);
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  margin-top: 0.1em;
}
.first-card {
  width: 17rem;
  height: 14rem;
  background-color: #000;
  position: relative;
  text-align: center;
}
.first-card img {
  width: 100%;
  height: 80%;
}
.back-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 17rem;
  height: 14rem;
  transition: transform 0.4s ease-in;

  background: linear-gradient(
    270deg,
    rgb(255, 25, 195) 0%,
    rgb(0, 220, 255) 16%,
    rgb(122, 255, 0) 82%,
    rgb(0, 254, 207) 100%
  );
  z-index: -1;
  box-shadow: 0px 0px 112px -41px rgb(255, 25, 195),
    0 -10px 26px -5px rgb(0, 220, 255), 0px 0px 112px -41px rgb(122, 255, 0),
    0 -10px 26px -5px rgb(0, 254, 207);
}
.thid-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 17rem;
  height: 14rem;
  transition: transform 0.4s ease-in;

  background: linear-gradient(
    270deg,
    rgb(255, 25, 195) 0%,
    rgb(0, 220, 255) 16%,
    rgb(122, 255, 0) 82%,
    rgb(0, 254, 207) 100%
  );
  z-index: -1;
  box-shadow: 0px 0px 112px -41px rgb(255, 25, 195),
    0 -10px 26px -5px rgb(0, 220, 255), 0px 0px 112px -41px rgb(122, 255, 0),
    0 -10px 26px -5px rgb(0, 254, 207);
}

.card:hover .back-card {
  transform: rotate(5deg);
}
.card:hover .thid-card {
  transform: rotate(-5deg);
}
.card-container button {
  background-color: #000;
  border: 4px solid #181515;
  padding: 10px 5px;
  color: #fff;
  text-align: center;
  transition: all 0.4s;
  font-size: 16px;
}

.card:hover button {
  color: #000;
  font-weight: bold;
}
